Вам предстоит проанализировать данные о бронировании отелей.

# Задание 1. 

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('2_bookings.csv', 
                 encoding='windows-1251', sep=';')

In [3]:
df.shape

(119390, 21)

In [4]:
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

Описание данных.
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)

Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным

Lead time – количество дней, прошедших между датой бронирования и датой прибытия

Arrival full date – полная дата прибытия

Arrival date year – год прибытия

Arrival date month – месяц прибытия

Arrival date week number – номер недели прибытия

Arrival date day of month – день прибытия

Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле

Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле

Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)

Adults – число взрослых

Children – число детей

Babies – число младенцев

Meal – выбранный тип питания

Country – страна происхождения клиента

Reserved room type – тип зарезервированного номера

Assigned room type – тип полученного номера (может отличаться от забронированного)

Customer type – тип бронирования

Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину

Reservation status date – дата обновления статуса

In [5]:
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

# Задание 2. 
Сохраните прочитанный датасет в bookings.
Затем запишите первые 7 строк в переменную bookings_head.

In [8]:
bookings_head = df.head(7)

# Задание 3. 

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [11]:
df.shape[1]

21

# Задание 4. 

К какому типу относится большинство переменных?

In [12]:
df.dtypes.value_counts()

object     10
int64      10
float64     1
Name: count, dtype: int64

# Задание 5.

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны 
в неудобном для дальнейшей работы формате. Исправьте ситуацию, 
приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

Например: Is Canceled -> is_canceled

Подсказка: вы можете использовать цикл, который будет проходить по bookings.columns, а в теле цикла использовать методы строк:

column.replace(" ", "_").lower()

In [10]:
df.columns = [col.replace(" ", "_").lower() for col in df.columns]

# Задание 6.

Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

Подсказка: здесь необходимо сделать группировку по ['country'] и агрегирование по сумме 'is_canceled'.

In [11]:
successful_bookings = df[df['is_canceled'] == 0]

country_booking = successful_bookings.groupby('country').size()

top_5_countries = country_booking.sort_values(ascending=False).head(5)

print(top_5_countries)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
dtype: int64

# Задание 7.

На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel?

In [12]:
average_nights = df.groupby('hotel')['stays_total_nights'].mean()

print(average_nights)

hotel
City Hotel      2.978142
Resort Hotel    4.318547
Name: stays_total_nights, dtype: float64

# Задание 8.

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается


Подсказка: воспользуйтесь  .query('reserved_room_type != assigned_room_type')

In [13]:
overbooked = df.query('reserved_room_type != assigned_room_type or is_canceled == 1')
overbooked_count = overbooked.shape[0]
print("Result:", overbooked_count)

Result: 58339

# Задание 9.

Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

Вам пригодится arrival_date_month.agg(pd.Series.mode) - Mode - возвращает самое часто встречаемое значение, если таких несколько возвращает их все

In [14]:
data_2016 = df[df['arrival_date_year'] == 2016]
data_2017 = df[df['arrival_date_year'] == 2017]

most_popular_month_2016 = data_2016['arrival_date_month'].agg(pd.Series.mode)
most_popular_month_2017 = data_2017['arrival_date_month'].agg(pd.Series.mode)

print("Most popular month in 2016:", most_popular_month_2016)
print("Most popular month in 2017:", most_popular_month_2017)

Most popular month in 2016: 0    October
Name: arrival_date_month, dtype: object
Most popular month in 2017: 0    May
Name: arrival_date_month, dtype: object

# Задание 10.

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа 
City Hotel отменялись чаще всего в 2015? 2016? 2017?

Подсказка: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий

Например:

df.groupby('column_1')['column_2'].what_to_do()

In [15]:
city_hotel_canceled = df[(df['hotel'] == 'City Hotel') & (df['is_canceled'] == 1)]
most_canceled_months = city_hotel_canceled.groupby(['arrival_date_year', 'arrival_date_month'])['is_canceled'].count()

most_canceled_months_2015 = most_canceled_months.loc[2015].idxmax()
most_canceled_months_2016 = most_canceled_months.loc[2016].idxmax()
most_canceled_months_2017 = most_canceled_months.loc[2017].idxmax()

print("Month in 2015:", most_canceled_months_2015)
print("Month in 2016:", most_canceled_months_2016)
print("Month in 2017:", most_canceled_months_2017)

Month in 2015: September
Month in 2016: October
Month in 2017: May

# Задание 11.

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [21]:
mean_values = df[['adults', 'children', 'babies']].mean()

print("Average value:")
print(mean_values)
max_mean_column = mean_values.idxmax()
print("Max average value:", max_mean_column)

Average value:
adults      1.856403
children    0.103890
babies      0.007949
dtype: float64
Max average value: adults

# Задание 12

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.


Подсказка: Создать новый столбец из 2-х предыдущих довольно просто, например
bookings['новый столбец'] = bookings.старый_столбец_1 + bookings.старый_столбец_2

In [24]:
df['total_kids'] = df['children'] + df['babies']

kids_in_hotel = df.groupby('hotel')['total_kids'].mean()

kids_in_hotel = kids_in_hotel.round(2)

print("Average total_kids in every hotel:")
print(kids_in_hotel)

max_kids_in_hotel = kids_in_hotel.idxmax()

print("Max total_kids in:", max_kids_in_hotel)

Average total_kids in every hotel:
hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64
Max total_kids in: Resort Hotel